<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label >Title</label>
      <input type="text" class="form-control" formControlName="title">
    </div>
    <div *ngIf="bookForm.get('title').invalid && bookForm.get('title').touched" style="color: red">
        Title is required and min length is 10
      </div>
    <div class="form-group">
      <label>Author</label>
      <select class="form-control" formControlName="author">
        <option>Nam Cao</option>
        <option>Tô Hoài</option>
        <option>Xuân Diệu</option>
        <option>Ngô Tất Tố</option>
        <option>Bà Huyện Thanh Quan</option>
      </select>
    </div>
    <div *ngIf="bookForm.get('author').invalid && bookForm.get('author').touched" style="color: red">
        Author is required
      </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" rows="3" formControlName="description"></textarea>
    </div>
    <div *ngIf="bookForm.get('description').invalid && bookForm.get('description').touched" style="color: red">
        Description is required and min length is 10
      </div>


      <button type="submit" class="btn btn-success">Create</button>
      <a class="btn btn-light" routerLink="">Cancel</a>
  </form>
